html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  font-size: 0.75rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
}

h1 {
  text-align: center;
  font-family: "Sigmar One", cursive;
  color: #cc1465;
  font-size: 3rem
}

nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  margin: 0 .25em 1em .25em;
  display: inline-block;
  text-align: center;
}

a {
  display: inline-block;
  padding: .5em;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  background-color: #b2a212;
}

h2 {
  font-family: "Sigmar One",cursive;
  color: #cc1465;
  font-size: 1.875rem;
}

footer {
  background-color: #ffe500;
  text-align: center;
}

a:hover {
  background-color: #cc1465;
  color: #fff;
}

.current {
  background-color: #cc1465;
}
